:root {
  --primary-color: #0c80a5; // Low contrast #0da4d3;
  --text-color: #444;
  --text-inverse-color: #bbb;
  --text-light-color: #666;
  --background-color: #fff;
  --background-inverse-color: #000;
  --text-highlight-color: #000;
}
